name: Publish mrd.gz

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582

      - name: Build compiler
        run: ./gradlew build

      - name: Compile mrd.gz
        run: java -jar build/libs/*-all.jar

      - name: Publish mrd.gz
        if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(date +'%Y.%m.%d.%H.%M.%S')
          gh release create "$TAG" mrd.gz --title "Build $TAG" --generate-notes